/* Copyright 2016, Zanshin Labs Ltd  */

body {
    padding-top: 40px;   /* due to the fixed navbar */
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #404040;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #42b97d;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #42b97d;
    text-transform: uppercase;
}

i {
	margin: 8px;
	color: #42b97d; 
}

b {
    font-weight: 800;
    margin: -1px;
	color: #42b97d;
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 12px;
	background-color: #ffffff;
	border-color: transparent;
    color: #42b97d;
}

.navbar-default .navbar-brand {
	color: #42b97d;
}

.navbar-default .navbar-brand > b {
    font-weight: 400;
	color: #42b97d;
}

.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 400;
	color: #42b97d;
}




.btn .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #42b97d;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary .active, .open > .dropdown-toggle .btn-primary {
    background: #338479;
}

.btn-primary:active, .btn-primary .active {
    background: #338479;
    box-shadow: none;
}


/* Links */
a {
    font-weight: 700;
    font-size: 12px;
    color: #42b97d;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #2bd1a0;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2bd1a0;
    padding: 0;
}

/* Helpers */
.centered {
    text-align: center;
}

.mt {
	margin-top: 40px;	
}

.mt-20{
    margin-top: 20px;
}

.mt-50{
    margin-top: 50px;
}

.mt-100 {
	margin-top: 140px;	
}

.mb {
    margin-bottom: 40px;
}

.pad-msg{
    padding-top: 30%;
}

.content_entry{
    padding-bottom: 25px;   
}

.content_title{
    margin: 0 0 0 0px;
	font-weight: 400;
    padding-bottom: 0px;
}

.authorship{
    padding-top: 0px;
    margin-top: 0px;
	font-weight: 100;
}

.service{
    border-color: #42b97d;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    min-height: 250px;
}

.testimonial {
    padding: 30px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.testimonial p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    line-height: 22px;
}

.testimonial-ref{
    font-weight:700;
    font-style: normal;
    color: #42b97d;
}

.testimonial-ref p {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

.testimonial-ref p .ref-role  {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color: #404040;
}

.heropage {
    font-family: 'Open Sans', sans-serif;
    padding-top: 15%;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: white;
}

.heropage h1{
    font-weight: 300;
	font-size: 40px;
    margin-bottom: -2px;
    color: #404040;
}

.heropage .pitch p {
    margin-top: 1px;
    margin-bottom: 5px;
	color: #404040;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
}

.footer {
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #404040;
}

.footer p{
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #404040;
}

@media (max-width: 543px){
.navbar-collapse {
    border-bottom: 2px solid;
    }

}

@media (min-width: 544px) and (max-width: 767px){  
    .navbar-collapse {
    border-bottom: 2px solid;
    }
}


@media (min-width: 768px) and (max-width: 991px) { 
}

@media (min-width: 992px) and (max-width: 1199px) { 
}

@media (min-width: 1200px) { 
}
