/* Copyright 2016-2017, Zanshin Labs Ltd  */

.content_entry{
    padding-bottom: 25px;   
}

.content_title{
    margin: 0 0 0 0px;
	font-weight: 400;
    padding-bottom: 0px;
}

.authorship{
    padding-top: 0px;
    margin-top: 0px;
	font-weight: 100;
    font-style: italic;
}


@media (max-width: 543px){
}


@media (min-width: 544px) and (max-width: 767px){  
}


@media (min-width: 768px) and (max-width: 991px) { 
}


@media (min-width: 992px) and (max-width: 1199px) { 
}


@media (min-width: 1200px) { 
}
