/* Copyright 2016-2017, Zanshin Labs Ltd  */

html,
body {
  height: 100%;
  width: 100%;
}


.service{
    /* border-color: #eaeaea;*/
    border-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    /* border-radius: 10px;*/
    padding-bottom: 25px;
    margin-bottom: 20px;
    min-height: 250px;
}


.testimonial {
    padding: 30px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}


.testimonial p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    line-height: 22px;
}


.testimonial-ref{
    font-weight:700;
    font-style: normal;
    color: #42b97d;
}


.testimonial-ref p {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}


.testimonial-ref a {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color: #42b97d;
}


.testimonial-ref p .ref-role  {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    color: #404040;
}


.heropage {
    background-image:url('/images/background_tab.png');
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    /*min-height: auto;*/
    min-height: 100%;
    
    padding-top: 15%;
    padding-bottom: 0%;
    margin-bottom: 0px;
	background-position: center center;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heropage .hero-content {
    position: absolute;
    top: 50%;
    left:0%;
    right:0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }

.top-hr{
    margin-top: 0px;
}


.heropage h1{
    font-weight: 300;
	font-size: 40px;
    margin-bottom: -2px;
    color: #404040;
}


.heropage .pitch p {
    margin-top: 1px;
    margin-bottom: 5px;
	color: #404040;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
}


@media (max-width: 543px){
.heropage {
    background-image: url('/images/background_mob.png');
    }

.heropage .hero-content {
    padding: 0 10px;
    }

.heropage h1{
    font-weight: 300;
	font-size: 20px;
    margin-bottom: -2px;
    color: #404040;
    }

.service{
    padding-bottom: 0px;
    margin-bottom: 10px;
    min-height: 20px;
    }
    
.btn-primary{
    font-size: 14px;
    }
}

@media (min-width: 544px) and (max-width: 767px){   
.heropage h1{
    font-weight: 300;
	font-size: 30px;
    margin-bottom: -2px;
    color: #404040;
    }
    
.service{
    padding-bottom: 0px;
    margin-bottom: 0px;
    min-height: 20px;
    }

.btn-primary{
    font-size: 14px;
    }
}


@media (min-width: 768px) and (max-width: 991px) { 
.btn-primary {
    background: #42b97d;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    }

}


@media (min-width: 992px) and (max-width: 1199px) { 
.pad-msg{
    padding-top: 20%;
    }
}


@media (min-width: 1200px) { 
.pad-msg{
    padding-top: 20%;
    }

}
