/* Copyright 2016, Zanshin Labs Ltd  */

body {
    padding-top: 10px; /* due to the fixed navbar */
    background: url('/images/ZL_bgPhoto_A.jpg') repeat;
    /*background-color: #404040;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2bd1a0;
}

h1 {
	font-size: 40px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
	font-weight: 300;
}

h4 {
	color: #2bd1a0;
	font-weight: 400;
	font-size: 30px;
}

h5 {
	color: #2bd1a0;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #2bd1a0;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #2bd1a0;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2bd1a0;
    padding: 0;
    
}

.navbar-default {
	background-color: #ffffff;
	border-color: transparent;
    color: #404040;
}

.navbar-default .navbar-brand {
	color: #404040;
}

.navbar-default .navbar-brand > b {
    font-weight: 900;
	color: #404040;
}

.navbar-default .navbar-nav > li > a {
    font-weight: 700;
	color: #2bd1a0;
}


/* Helpers */

.mt {
	margin-top: 40px;	
}

.mb {
    margin-bottom: 40px;
}


i {
	margin: 8px;
	color: #2bd1a0; 
}

b {
    margin: 8px;
	color: #2bd1a0;
}

.heropage {
    background-image:url('/images/hero_A04.png');
    margin-bottom: 5px;
    padding-bottom: 5px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: white;
}

.heropage .marquee-top{
    margin-top: 70px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.heropage .marquee-middle{
	margin-top: 10px;
    margin-bottom: 0px;
}

.heropage .marquee-bottom{
    margin-top: 0px;
    margin-bottom: 200px;
}

.heropage .marquee-top b {
 	color: #404040;
}

.heropage .marquee-bottom b {
 	color: #404040;
}

.heropage .marquee-top h1{
    margin-bottom: -45px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 35px;
	color: #404040;
}

.heropage .marquee-middle h1 {
	color: #2bd1a0;
	font-size: 160px;
	font-weight: 900;
	letter-spacing: 1px;
}

.heropage .marquee-bottom h1 {
    margin-top: -30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 300;
    font-size: 100px;
	color: #404040;
}


.heropage h4{
    font-weight: 700;
	font-size: 25px;
    margin-bottom: -2px;
    color: #338479;
}

.heropage .pitch {
    margin-top: 15px;
    margin-bottom: 25px;
}

.heropage pitch h4{
    font-weight: 700;
	font-size: 25px;
    margin-bottom: 1px;
    color: #338479;
}

.heropage .pitch p {
    margin-top: 1px;
    margin-bottom: 5px;
	color: #404040;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
}

.footer {
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #404040;
}

.standfirst{
    margin-top: 40px;
    margin-bottom: 25px;
	color: #2bd1a0;
	font-weight: 300;
	letter-spacing: 1px
}

.event-sponsor{
    margin-top: 10px;
}


@media (max-width: 543px){
.heropage{
    margin-top: 10px;
    background-image:url('/images/bgphoto_mobile.jpg');
    }

.heropage .marquee-top{
    margin-top: 80px;
}

.heropage .marquee-bottom{
    margin-bottom: 50px;
}
    
.heropage .marquee-top h1 {
    margin-bottom: -10px;
    font-weight: 300;
    font-size: 20px;
	color: #404040;
    }

.heropage .marquee-middle h1 {
	margin-top: 0px;
	color: #2bd1a0;
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 1px;
    }
    
.heropage .marquee-bottom h1 {
    margin-top: -10px;
    font-weight: 300;
	font-size: 30px;
    color: #404040;
    }

.heropage .pitch {
    margin-top: -5px;
    padding-top: 0px;
    margin-bottom: 5px;
    }

.heropage .pitch h4{
    margin-top: 36px;
    margin-bottom: 10px;
    font-weight: 700;
	font-size: 20px;
    margin-bottom: 1px;
    color: #338479;
    }
    
.heropage .pitch p {
    margin-top: 1px;
    margin-bottom: 5px;
	color: #404040;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
}
}

@media (min-width: 544px) and (max-width: 767px){

.heropage .marquee-top{
    margin-top: 80px;
}

.heropage .marquee-bottom{
    margin-bottom: 50px;
}
    
.heropage .marquee-top h1 {
    margin-bottom: -10px;
    font-weight: 300;
    font-size: 20px;
	color: #404040;
    }
    
.heropage .marquee-top h1 {
    margin-bottom: -20px;
    font-weight: 300;
    font-size: 30px;
	color: #404040;
    }

.heropage .marquee-middle h1 {
    margin-top: 0px;
	color: #2bd1a0;
	font-size: 90px;
	font-weight: 900;
	letter-spacing: 1px;
    }
    
.heropage .marquee-bottom h1 {
    margin-top: -20px;
    font-weight: 300;
	font-size: 45px;
    color: #404040;
    }    
    
.heropage .pitch {
    margin-top: -5px;
    padding-top: 0px;
    margin-bottom: 5px;
    }

.heropage .pitch h4{
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: 700;
	font-size: 25px;
    margin-bottom: 1px;
    color: #338479;
    }
    
}


@media (min-width: 768px) and (max-width: 991px) { 

.heropage .marquee-bottom{
    margin-top: 0px;
    margin-bottom: 230px;
}
    
.heropage .marquee-middle h1 {
	color: #2bd1a0;
	font-size: 130px;
	font-weight: 900;
	letter-spacing: 1px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) { 
.heropage .marquee-middle h1 {
	color: #2bd1a0;
	font-size: 160px;
	font-weight: 900;
	letter-spacing: 1px;
    }
}

@media (min-width: 1200px) { 
.heropage .marquee-middle h1 {
	color: #2bd1a0;
	font-size: 160px;
	font-weight: 900;
	letter-spacing: 1px;
    }
}
