/* Copyright 2016-2017, Zanshin Labs Ltd  */

body {
    padding-top: 80px;   /* due to the fixed navbar */ 
}

.navbar-default {
    padding-top: 10px;
    padding-bottom: 12px;
	background-color: #ffffff;
	border-color: transparent;
    color: #42b97d;
}


.navbar-default .navbar-brand {
	color: #42b97d;
}


.navbar-default .navbar-brand > b {
    font-weight: 400;
	color: #42b97d;
}


.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    font-weight: 600;
	color: #404040;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: #ffffff;
    color: #42b97d;
}


.navbar-edge {
    padding-right: 10px;
}

.navbar-pad{
    padding-left: 0px;
}



@media (max-width: 543px){
.navbar-collapse {
    border-bottom: 2px solid;
    }
}


@media (min-width: 544px) and (max-width: 767px){  
    .navbar-collapse {
    border-bottom: 2px solid;
    }
}


@media (min-width: 768px) and (max-width: 991px) { 
.navbar .nav,
.navbar .nav > li {
    float: none;
    display: inline-block;
    vertical-align: top;
    }

.navbar-inner {
    text-align:center;
    }
    
.navbar-pad{
    padding-left: 60px;
    }
    
}


@media (min-width: 992px) and (max-width: 1199px) { 
.navbar .nav,
.navbar .nav > li {
    float: none;
    display: inline-block;
    vertical-align: top;
    }

.navbar-inner {
    text-align:center;
    }
    
.navbar-pad{
    padding-left: 60px;
    }

}


@media (min-width: 1200px) { 
.navbar .nav,
.navbar .nav > li {
    float: none;
    display: inline-block;
    vertical-align: top;
    }

.navbar-centered {
    text-align:center;
    }
    
.navbar-inner {
    text-align:center;
    }

.navbar-pad{
    padding-left: 60px;
    }
}
